@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none !important;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.75vw;
  background: #EFF4F8;
}

::-webkit-scrollbar-thumb {
  background: #00B3E5;
  border-radius: 5vw;
}

.txt-Verm {
  color: red;
}

.txt-Verd {
  color: greenyellow;
}

.txt-Azul {
  color: blue;
}

body {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
  overflow-x: hidden;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  bottom: 1.8%;
  width: 100%;
  height: 62vh;
  background-color: #004CDC;
  z-index: -1;
}
body header {
  top: 0;
  position: fixed;
  height: 12vh;
  width: 100%;
  z-index: 99;
  padding: 1vh 0;
  background-color: #004CDC;
  display: flex;
  justify-content: center;
}
body header nav {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
body header nav a {
  color: #FFFFFF;
  font-size: 0.85vw;
  font-weight: 300;
  padding: 0.5vh 0.5vw;
  margin: 0 0.5vw;
}
body header nav a:nth-child(2) {
  margin-left: auto;
}
body header nav .logo {
  margin: 0;
  padding: 0;
  width: 17vw;
  height: 100%;
}
body header nav .logo img {
  width: 100%;
  height: 100%;
}
body header nav .logo span {
  opacity: 0;
  display: none;
}
body header nav .seta {
  position: relative;
  padding: 0.5vh 2vw 0.5vh 0.5vw;
}
body header nav .seta img {
  position: absolute;
  height: 100%;
  width: 1vw;
  top: 0;
  right: 5%;
}
body main {
  margin: auto;
  width: 70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
body main .Banner {
  margin-top: 12vh;
  width: 100%;
  height: 98vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
body main .Banner .Background {
  z-index: 2;
  left: -22%;
  width: 150%;
  height: 90%;
  position: absolute;
}
body main .Banner .Chamada {
  position: relative;
  z-index: 5;
  width: 50%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
body main .Banner .Chamada h1 {
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.5vw;
  position: relative;
  padding: 1vh 6vw 1vh 12vw;
  letter-spacing: 0.1vw;
}
body main .Banner .Chamada h1 b {
  bottom: 100%;
  left: 0;
  font-weight: 800;
  position: absolute;
  font-size: 2vw;
  height: 3vh;
}
body main .Banner .Chamada h1 span {
  font-weight: 700;
  color: #F7BC44;
}
body main .Banner .Chamada h1 span:nth-child(2) {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  font-weight: 900;
  font-size: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .Banner .Chamada h2 {
  margin-top: 2vh;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1vw;
  padding: 1vh 10vw 1vh 0;
  line-height: 2.5vh;
}
body main .Banner .Imagem {
  position: relative;
  z-index: 5;
  width: 50%;
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
}
body main .Banner .Imagem .folha {
  width: 25%;
  height: 100%;
}
body main .Banner .Imagem .folha:nth-child(3) {
  transform: scaleX(-1);
}
body main .Banner .Imagem img {
  width: 50%;
  margin-top: -4vh;
}
body main .Banner .Imagem img:nth-child(2) {
  padding: 0.5vw;
}
body main .Banner .texto {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 40%;
  text-align: left;
  font-size: 1.25vw;
  padding: 6vh 7vw;
  color: #1A2E3C;
  font-weight: 400;
  line-height: 3.5vh;
}
body main .Banner .texto::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  background-color: #EFF4F8;
  border-radius: 1.5vw;
}
body main .Banner .texto img {
  position: absolute;
  border: solid 3px #FFFFFF;
  background-color: #EFF4F8;
  top: -7.5%;
  left: 48%;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  padding: 0.4vw;
}
body main .Destaques {
  padding: 5vh 0 3vh;
  width: 100%;
  height: 150vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .Destaques iframe {
  height: 65vh;
  border-radius: 2vw;
  background-color: #004CDC;
}
body main .Destaques h2 {
  height: 15vh;
  text-align: center;
  padding: 5vh 5vw 3vh;
  color: #153AD1;
  font-weight: 800;
  font-size: 1.9vw;
}
body main .Destaques .CardsBlock {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body main .Destaques .CardsBlock .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFF4F8;
  border-radius: 1vw;
  width: 31.5%;
  height: 13vh;
}
body main .Destaques .CardsBlock .card:nth-child(4), body main .Destaques .CardsBlock .card:nth-child(5) {
  margin-top: -7vh;
}
body main .Destaques .CardsBlock .card:nth-child(4) {
  margin-right: -11.5vw;
}
body main .Destaques .CardsBlock .card span {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: #153AD1;
  font-weight: 900;
}
body main .Destaques .CardsBlock .card p {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1vw;
  font-weight: 400;
}
body main .Destaques .texto {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 30vh;
  text-align: left;
  font-size: 1.25vw;
  padding: 6vh 8vw;
  color: #1A2E3C;
  font-weight: 400;
  line-height: 3.5vh;
}
body main .Destaques .texto::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  background-color: #EFF4F8;
  border-radius: 1.5vw;
}
body main .Destaques .texto img {
  position: absolute;
  border: solid 3px #FFFFFF;
  background-color: #EFF4F8;
  top: -7.5%;
  left: 48%;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  padding: 0.4vw;
}
body main .Diferencial {
  width: 100%;
  height: 75vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .Diferencial .DifBlock {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .Diferencial .DifBlock h2 {
  width: 100%;
  margin-top: -5.5vh;
  color: #153AD1;
  font-weight: 900;
  font-size: 2vw;
  padding: 1vh 8vw 1vh 0;
}
body main .Diferencial .DifBlock h3 {
  width: 100%;
  color: #1A2E3C;
  font-weight: 400;
  font-size: 0.9vw;
  padding: 0.5vh 0;
  line-height: 2.25vh;
}
body main .Diferencial .DifBlock .CardsBlock {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
body main .Diferencial .DifBlock .CardsBlock .card {
  border-radius: 0.75vw;
  background-color: #EFF4F8;
  width: 48%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1vw;
  font-weight: 400;
  padding: 0 2vw;
}
body main .Diferencial .DifBlock .CardsBlock .card:nth-child(3), body main .Diferencial .DifBlock .CardsBlock .card:nth-child(4) {
  margin: -5vh 0;
}
body main .Diferencial .VideoBlock {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 5vw;
}
body main .Diferencial .VideoBlock iframe {
  height: 31vh;
  border-radius: 1vw;
  background-color: #004CDC;
  margin-top: 1vh;
}
body main .Diferencial .VideoBlock a {
  background-color: #00B3E5;
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 6vh;
  width: 100%;
  padding: 1.5vh 0;
  border-radius: 0.5vw;
  text-align: center;
  font-size: 1vw;
}
body main .Numeros_Clientes {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 7.5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .Numeros_Clientes::before {
  background-color: #EFF4F8;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  z-index: -1;
  left: -22%;
  top: 0;
}
body main .Numeros_Clientes h2 {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #153AD1;
  font-weight: 900;
  font-size: 2vw;
}
body main .Numeros_Clientes h2:nth-child(2) {
  margin-top: 5vh;
}
body main .Numeros_Clientes .NumBlock {
  width: 100%;
  height: 12vh;
  margin-bottom: 7vh;
  display: flex;
  justify-content: space-around;
}
body main .Numeros_Clientes .NumBlock .Numeros {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .Numeros_Clientes .NumBlock .Numeros:nth-child(1) {
  margin-right: -4.5vw;
}
body main .Numeros_Clientes .NumBlock .Numeros:nth-child(2), body main .Numeros_Clientes .NumBlock .Numeros:nth-child(3) {
  margin: 0 -4.5vw;
}
body main .Numeros_Clientes .NumBlock .Numeros:nth-child(4) {
  margin-left: -4.5vw;
}
body main .Numeros_Clientes .NumBlock .Numeros .Num {
  display: flex;
  justify-content: center;
  width: 100%;
}
body main .Numeros_Clientes .NumBlock .Numeros .Num span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: #153AD1;
  font-size: 3vw;
  font-weight: 900;
}
body main .Numeros_Clientes .NumBlock .Numeros .Num p {
  display: flex;
  align-items: center;
  width: 50%;
  text-align: left;
  color: #153AD1;
  font-size: 2.5vw;
  font-weight: 900;
}
body main .Numeros_Clientes .NumBlock .Numeros .textoNum {
  font-size: 1vw;
  text-align: center;
  margin-left: -1vw;
}
body main .Numeros_Clientes .CardsBlock {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  padding: 3vh 0;
  align-items: center;
  justify-content: space-between;
  margin-top: -3vh;
}
body main .Numeros_Clientes .CardsBlock .card {
  width: 32%;
  height: 80%;
  padding: 1vh 2vw;
  background-color: #FFFFFF;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .Numeros_Clientes .CardsBlock .card .img {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .Numeros_Clientes .CardsBlock .card h3 {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  color: #153AD1;
}
body main .Numeros_Clientes .CardsBlock .card p {
  height: 50%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 0.65vw;
  font-weight: 400;
  line-height: 1.6vh;
}
body main .Numeros_Clientes .CardsBlock .mais {
  bottom: 2.5vh;
  position: absolute;
  width: 100%;
  font-size: 0.9vw;
  text-align: center;
}
body main .SEO {
  width: 100%;
  height: 150vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
body main .SEO .BlockInicial {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .SEO .BlockInicial .infos {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .SEO .BlockInicial .infos h2 {
  width: 100%;
  height: 11.5vh;
  color: #153AD1;
  font-weight: 900;
  font-size: 2vw;
  padding: 1vh 15vw 1vh 0;
}
body main .SEO .BlockInicial .infos h3 {
  width: 100%;
  height: 8vh;
  color: #1A2E3C;
  font-weight: 400;
  font-size: 1vw;
  line-height: 2.25vh;
  padding: 1vh 11vw 0 0;
}
body main .SEO .BlockInicial .infos .CardsBlock {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main .SEO .BlockInicial .infos .CardsBlock .card {
  width: 48%;
  height: 9vh;
  background-color: #EFF4F8;
  border-radius: 0.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .SEO .BlockInicial .infos .CardsBlock .card:nth-child(1), body main .SEO .BlockInicial .infos .CardsBlock .card:nth-child(2) {
  margin-top: 4vh;
}
body main .SEO .BlockInicial .infos .CardsBlock .card:nth-child(3), body main .SEO .BlockInicial .infos .CardsBlock .card:nth-child(4) {
  margin: -4vh 0;
}
body main .SEO .BlockInicial .infos .CardsBlock .card img {
  padding: 2.25vh 0;
  width: 35%;
  height: 100%;
}
body main .SEO .BlockInicial .infos .CardsBlock .card p {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 400;
  font-size: 1.1vw;
  color: #1A2E3C;
}
body main .SEO .BlockInicial .Imagem {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 15vh 0 15vh 7vw;
  position: relative;
}
body main .SEO .BlockInicial .Imagem img {
  width: auto;
  height: 100%;
  padding: 15vh 0 15vh 2vw;
  position: absolute;
}
body main .SEO .BlockFinal {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .SEO .BlockFinal .Imagem {
  width: 50%;
  height: 100%;
  position: relative;
}
body main .SEO .BlockFinal .Imagem img {
  position: absolute;
  width: auto;
  height: 100%;
  bottom: 0;
}
body main .SEO .BlockFinal .Imagem img:nth-child(1) {
  left: 0;
  height: 95%;
}
body main .SEO .BlockFinal .Imagem img:nth-child(2) {
  height: 120%;
  right: 12%;
}
body main .SEO .BlockFinal .infos {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .SEO .BlockFinal .infos h2 {
  width: 100%;
  height: 10vh;
  font-size: 2vw;
  color: #153AD1;
  font-weight: 900;
  padding-right: 5vw;
  display: flex;
  align-items: center;
}
body main .SEO .BlockFinal .infos .CardsBlock {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
body main .SEO .BlockFinal .infos .CardsBlock .card {
  background-color: #004CDC;
  border-radius: 0.75vw;
  width: 48%;
  height: 9vh;
  display: flex;
}
body main .SEO .BlockFinal .infos .CardsBlock .card:nth-child(3), body main .SEO .BlockFinal .infos .CardsBlock .card:nth-child(4) {
  margin-top: -6vh;
}
body main .SEO .BlockFinal .infos .CardsBlock .card img {
  padding: 2.25vh 0;
  width: 35%;
  height: 100%;
}
body main .SEO .BlockFinal .infos .CardsBlock .card p {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 400;
  font-size: 1vw;
  color: #FFFFFF;
  padding-right: 1vw;
}
body main .Dashboards {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .Dashboards .Imagem {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
body main .Dashboards .Imagem img {
  position: absolute;
  width: auto;
  height: 100%;
}
body main .Dashboards .Imagem img:nth-child(1) {
  right: 53%;
  height: 70%;
}
body main .Dashboards .Imagem img:nth-child(2) {
  width: 100%;
  height: auto;
  right: 5%;
}
body main .Dashboards .infos {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4vw 0 1vw;
}
body main .Dashboards .infos h2 {
  width: 100%;
  height: 10vh;
  font-size: 2vw;
  color: #153AD1;
  font-weight: 900;
  padding-right: 5vw;
  display: flex;
  align-items: center;
}
body main .Dashboards .infos h3 {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  color: #1A2E3C;
  font-weight: 400;
  font-size: 1vw;
  line-height: 2.25vh;
  margin-bottom: 1vh;
}
body main .Dashboards .infos .card {
  background-color: #EFF4F8;
  border-radius: 0.75vw;
  width: 100%;
  height: 8vh;
  display: flex;
  margin: 1vh 0;
}
body main .Dashboards .infos .card img {
  padding: 2.25vh 0;
  width: 30%;
  height: 100%;
}
body main .Dashboards .infos .card p {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 400;
  font-size: 1vw;
  color: #1A2E3C;
}
body main .Dashboards .infos a {
  background-color: #00B3E5;
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 4vh;
  width: 100%;
  padding: 1.5vh 0;
  border-radius: 0.5vw;
  text-align: center;
  font-size: 1vw;
}
body main .contato {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main .contato .form {
  width: 100%;
  height: 70vh;
  display: flex;
}
body main .contato .form img {
  width: 40%;
  height: 100%;
}
body main .contato .form .formBlock {
  width: 60%;
  height: 100%;
  padding: 8vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: auto;
  background: #FFFFFF;
  border-bottom-right-radius: 1vw;
}
body main .contato .form .formBlock h2 {
  width: 100%;
  height: 7vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #153AD1;
  font-weight: 900;
  font-size: 1.75vw;
  margin: -4vh 0 1vh;
}
body main .contato .form .formBlock .labels {
  width: 100%;
  height: 47vh;
  display: flex;
  flex-wrap: wrap;
  padding: 3vh 0;
  position: relative;
}
body main .contato .form .formBlock .labels input {
  width: 100%;
  height: 7.5vh;
  color: #1A2E3C;
  background: none;
  outline: none;
  border: 1px solid #1A2E3C;
  font-weight: 500;
  font-size: 1vw;
  padding-left: 1.5vw;
  border-radius: 0.75vw;
}
body main .contato .form .formBlock .labels input::-ms-input-placeholder {
  color: #1A2E3C;
  font-size: 1vw;
}
body main .contato .form .formBlock .labels .select {
  width: 100%;
  height: 7.5vh;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #1A2E3C;
  border-radius: 0.75vw;
  padding-left: 1.5vw;
  font-size: 1.25vw;
  cursor: pointer;
}
body main .contato .form .formBlock .labels .select select {
  width: 100%;
  height: 100%;
  font-size: 1vw;
  background: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin: 0;
  z-index: 1;
  color: #1A2E3C;
}
body main .contato .form .formBlock .labels .select img {
  width: 1.5vw;
  position: absolute;
  right: 5%;
}
body main .contato .form .formBlock .labels #Enviar_Contato {
  width: 100%;
  height: 6vh;
  bottom: -7%;
  position: absolute;
  font-size: 1vw;
  background: #00B3E5;
  color: #FFFFFF;
  border-radius: 0.5vw;
  border: none;
  font-weight: 600;
}
body main .contato .form .formBlock .labels #Alertmsg {
  position: absolute;
  bottom: -20%;
  right: -10%;
  font-size: 1vw;
}
body main .contato .logoContato, body main .contato .ContatoRedes, body main .contato .Redes {
  height: 30vh;
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body main .contato .logoContato img {
  width: 60%;
}
body main .contato .ContatoRedes a {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1vw;
}
body main .contato .ContatoRedes a img {
  width: 15%;
  height: 100%;
  padding: 0.9vw;
}
body main .contato .ContatoRedes a span {
  width: 85%;
  text-align: left;
}
body main .contato .ContatoRedes a:nth-child(2) {
  margin-top: -14vh;
}
body main .contato .Redes a {
  width: 15%;
  height: 6vh;
  margin: 0 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .contato .Redes a img {
  width: auto;
  height: 50%;
}
body main .contato .Redes a span {
  display: none;
  opacity: 0;
}
body footer {
  background-color: #004CDC;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 400;
  color: #FFFFFF;
  border-top: 1px solid #00B3E5;
}/*# sourceMappingURL=style.css.map */