@import 'colors_fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Main-font:'Montserrat', sans-serif;

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $Main-font;
    background-color: $Branco;
    overflow-x: hidden;
    header {
        top: 0;
        position: fixed;
        height: 12vh;
        width: 100%;
        z-index: 99;
        padding: 1vh 0;
        background-color: $AzulEscuro;
        display: flex;
        justify-content: center;
        nav{
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            a{
                color: $Branco;
                font-size: 0.85vw;
                font-weight: 300;
                padding: 0.5vh 0.5vw;
                margin: 0 0.5vw;
                &:nth-child(2){
                    margin-left: auto;
                }
            }
            .logo{
                margin: 0;
                padding: 0;
                width: 17vw;
                height: 100%;
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
            .seta{
                position: relative;
                padding: 0.5vh 2vw 0.5vh 0.5vw;
                svg{
                    position: absolute;
                    height: 100%;
                    width: 1vw;
                    top: 0;
                    right: 5%;
                }
            }
        }
    }
  
    main{
        margin: auto;
        width: 70%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        .Banner{
            margin-top: 12vh;
            width: 100%;
            height: 88vh;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .Background{
                z-index: 2;
                left: -22%;
                width: 150%;
                height: 79%;
                position: absolute;
            }
            .Chamada{
                position: relative;
                z-index: 5;
                width: 50%;
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: $Main-font;
                h1{
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $Branco;
                    font-size: 1.5vw;
                    position: relative;
                    padding: 1vh 6vw 1vh 12vw;
                    letter-spacing: 0.1vw;
                    b{
                        bottom: 100%;
                        left: 0;
                        font-weight: 800;
                        position: absolute;
                        font-size: 2vw;
                        height: 3vh;
                    }
                    span{
                        font-weight: 700;
                        color: $Laranja;
                        &:nth-child(2){
                            left: 0;
                            top: 0;
                            height: 100%;
                            position: absolute;
                            font-weight: 900;
                            font-size: 7vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                h2{
                    margin-top: 2vh;
                    color: $Branco;
                    font-weight: 300;
                    font-size: 1vw;
                    padding: 1vh 10vw 1vh 0;
                    line-height: 2.5vh;
                }
            }
            .Imagem{
                position: relative;
                z-index: 5;
                width: 50%;
                height: 60%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding-left: 1vw;
                .folha{
                    width: 25%;
                    height: 100%;
                    &:nth-child(3){
                        transform: scaleX(-1);
                    }
                }
                img{
                    width: 50%;
                    padding: 0.5vw;
                }
                img, svg{
                    margin-top: -4vh;
                }
            }
            .texto{
                position: relative;
                z-index: 5;
                width: 100%;
                height: 40%;
                text-align: left;
                font-size: 1.25vw;
                padding: 6vh 7vw;
                color: $Preto;
                font-weight: 400;
                line-height: 3.5vh;
                &::before{
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 93%;   
                    background-color: $Cinza;
                    border-radius: 1.5vw;
                }
                svg{
                   position: absolute;
                   border: solid 3px $Branco;
                   background-color: $Cinza;
                   top: -7.5%;
                   left: 48%;
                   width: 2.5vw;
                   height: 2.5vw;
                   border-radius: 50%;
                   padding: 0.25vw;
                }
            }
        }
    }
  
    footer{
      width: 100%;
      height: 11vh;
      background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5vh 0 1.5vh;
      a{
        width: auto;
        height: 100%;
        img{
          height: 90%;
          width: auto;
      }
      }
      p{
        font-size: 0.75vw;
        padding: 0.5vh 0;
      }
      
    }
  
  }
  