@import 'colors_fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Main-font:'Montserrat', sans-serif;

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}
html{
    scroll-behavior:smooth;
}
::-webkit-scrollbar {
    width: 1vw;
    background: $Cinza;
}
::-webkit-scrollbar-thumb {
    background: $AzulClaro;
    border-radius: 5vw;
}

body {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: $Main-font;
    background-color: $Branco;
    overflow-x: hidden;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: 1.8%;
        width: 100%;
        height: 62vh;
        background-color: $AzulEscuro;
        z-index: -1;
    }
    header {
        top: 0;
        position: fixed;
        height: 12vh;
        width: 100%;
        z-index: 99;
        padding: 1vh 0;
        background-color: $AzulEscuro;
        display: flex;
        justify-content: center;
        nav{
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            a{
                color: $Branco;
                font-size: 0.85vw;
                font-weight: 300;
                padding: 0.5vh 0.5vw;
                margin: 0 0.5vw;
                &:nth-child(2){
                    margin-left: auto;
                }
            }
            .logo{
                margin: 0;
                padding: 0;
                width: 17vw;
                height: 100%;
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
            .seta{
                position: relative;
                padding: 0.5vh 2vw 0.5vh 0.5vw;
                svg{
                    position: absolute;
                    height: 100%;
                    width: 1vw;
                    top: 0;
                    right: 5%;
                }
            }
        }
    }
    main{
        margin: auto;
        width: 70%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        
        .Banner{
            margin-top: 12vh;
            width: 100%;
            height: 88vh;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .Background{
                z-index: 2;
                left: -22%;
                width: 150%;
                height: 79%;
                position: absolute;
            }
            .Chamada{
                position: relative;
                z-index: 5;
                width: 50%;
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: $Main-font;
                h1{
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $Branco;
                    font-size: 1.5vw;
                    position: relative;
                    padding: 1vh 6vw 1vh 12vw;
                    letter-spacing: 0.1vw;
                    b{
                        bottom: 100%;
                        left: 0;
                        font-weight: 800;
                        position: absolute;
                        font-size: 2vw;
                        height: 3vh;
                    }
                    span{
                        font-weight: 700;
                        color: $Laranja;
                        &:nth-child(2){
                            left: 0;
                            top: 0;
                            height: 100%;
                            position: absolute;
                            font-weight: 900;
                            font-size: 7vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                h2{
                    margin-top: 2vh;
                    color: $Branco;
                    font-weight: 300;
                    font-size: 1vw;
                    padding: 1vh 10vw 1vh 0;
                    line-height: 2.5vh;
                }
            }
            .Imagem{
                position: relative;
                z-index: 5;
                width: 50%;
                height: 60%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding-left: 1vw;
                .folha{
                    width: 25%;
                    height: 100%;
                    &:nth-child(3){
                        transform: scaleX(-1);
                    }
                }
                img{
                    width: 50%;
                    padding: 0.5vw;
                }
                img, svg{
                    margin-top: -4vh;
                }
            }
            .texto{
                position: relative;
                z-index: 5;
                width: 100%;
                height: 40%;
                text-align: left;
                font-size: 1.25vw;
                padding: 6vh 7vw;
                color: $Preto;
                font-weight: 400;
                line-height: 3.5vh;
                &::before{
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 93%;   
                    background-color: $Cinza;
                    border-radius: 1.5vw;
                }
                svg{
                   position: absolute;
                   border: solid 3px $Branco;
                   background-color: $Cinza;
                   top: -7.5%;
                   left: 48%;
                   width: 2.5vw;
                   height: 2.5vw;
                   border-radius: 50%;
                   padding: 0.4vw;
                }
            }
        }
        .Destaques{
            padding: 5vh 0 3vh;
            width: 100%;
            height: 150vh;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            iframe{
                height: 65vh;
                border-radius: 2vw;
                background-color: $AzulEscuro;
            }
            h2{
                height: 15vh;
                text-align: center;
                padding: 3vh 5vw;
                color: $AzulTexto;
                font-weight: 800;
                font-size: 2vw;
            }
            .CardsBlock{
                width: 100%;
                height: 40vh;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                .card{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $Cinza;
                    border-radius: 1vw;
                    width: 31.5%;
                    height: 13vh;
                    &:nth-child(4), &:nth-child(5){
                        margin-top: -7vh;
                    }
                    &:nth-child(4){
                        margin-right: -11.5vw;
                    }
                    h4{
                        height: 100%;
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 2vw;
                        color: $AzulTexto;
                        font-weight: 900;
                    }
                    p{
                        height: 100%;
                        width: 75%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        font-size: 1vw;
                        font-weight: 400;
                    }
                }
            }
            .texto{
                position: relative;
                z-index: 5;
                width: 100%;
                height: 30vh;
                text-align: left;
                font-size: 1.25vw;
                padding: 6vh 8vw;
                color: $Preto;
                font-weight: 400;
                line-height: 3.5vh;
                &::before{
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 93%;   
                    background-color: $Cinza;
                    border-radius: 1.5vw;
                }
                svg{
                   position: absolute;
                   border: solid 3px $Branco;
                   background-color: $Cinza;
                   top: -7.5%;
                   left: 48%;
                   width: 2.5vw;
                   height: 2.5vw;
                   border-radius: 50%;
                   padding: 0.4vw;
                }
            }
        }
        .Diferencial{
            width: 100%;
            height: 75vh;
            position: relative; 
            display: flex;
            align-items: center;
            justify-content: center;
            .DifBlock{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    width: 100%;
                    margin-top: -5.5vh;
                    color: $AzulTexto;
                    font-weight: 900;
                    font-size: 2vw;
                    padding: 1vh 8vw 1vh 0;
                }
                h3{
                    width: 100%;
                    color: $Preto;
                    font-weight: 400;
                    font-size: 0.9vw;
                    padding: 0.5vh 0;
                    line-height: 2.25vh;
                }
                .CardsBlock{
                    width: 100%;                
                    height: 40vh;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    .card{
                        border-radius: 0.75vw;
                        background-color: $Cinza;
                        width: 48%;
                        height: 9vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 1.1vw;
                        font-weight: 400;
                        padding: 0 2vw;
                        &:nth-child(3), &:nth-child(4){
                            margin: -5vh 0;
                        }
                    }
                }
            }
            .VideoBlock{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:  0 0 0 5vw;
                iframe{
                    height: 31vh;
                    border-radius: 1vw;
                    background-color: $AzulEscuro;
                }
                a{
                    background-color: $AzulClaro;
                    color: $Branco;
                    font-weight: 600;
                    margin-top: 5vh;
                    width: 100%;
                    padding: 1.5vh 0;
                    border-radius: 0.5vw;
                    text-align: center;
                    font-size: 1vw;
                }
            }
        }
        .Numeros_Clientes{
            width: 100%;
            height: 100vh;
            position: relative;
            padding: 7.5vh 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &::before{
                background-color: $Cinza;
                content: '';
                position: absolute;
                width: 150%;
                height: 100%;
                z-index: -1;
                left: -22%;
                top: 0;
            }
            h2{
                width: 100%;
                height: 8vh;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $AzulTexto;
                font-weight: 900;
                font-size: 2vw;
            }
            .NumBlock{
                width: 100%;
                height: 12vh;
                margin-bottom: 7vh;
                display: flex;
                justify-content: space-around;
                .Numeros{
                    width: 20%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &:nth-child(1){
                        margin-right: -4.5vw;
                    }
                    &:nth-child(2), &:nth-child(3){
                        margin: 0 -4.5vw;
                    }
                    &:nth-child(4){
                        margin-left: -4.5vw;
                    }
                    .Num{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        span{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20%;
                            color: $AzulTexto;
                            font-size: 3vw;
                            font-weight: 900;
                        }
                        h4{
                            display: flex;
                            align-items: center;
                            width: 50%;
                            text-align: left;
                            color: $AzulTexto;
                            font-size: 2.5vw;
                            font-weight: 900;
                        }
                    }
                    p{
                        font-size: 1vw;
                        text-align: center;
                        margin-left: -1vw;
                    }
                }
            }
            .CardsBlock{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 50vh;
                padding: 3vh 0;
                align-items: center;
                justify-content: space-between;
                .card{
                    width: 32%;
                    height: 80%;
                    padding: 1vh 2vw;
                    background-color: $Branco;
                    border-radius: 1vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .img{
                        width: 100%;
                        height: 35%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    h4{
                        height: 15%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.9vw;
                        color: $AzulTexto;
                    }
                    p{
                        height: 50%;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        font-size: 0.65vw;
                        font-weight: 400;
                        line-height: 1.6vh;
                    }
                }
                .mais{
                    bottom: 3.5vh;
                    position: absolute;
                    width: 100%;
                    font-size: 0.9vw;
                    text-align: center;
                }
            }
        }
        .SEO{
            width: 100%;
            height: 150vh;
            position: relative;
            display: flex;
            flex-direction: column;
            .BlockInicial{
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                .infos{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h2{
                        width: 100%;
                        height: 11.5vh;
                        color: $AzulTexto;
                        font-weight: 900;
                        font-size: 2vw;
                        padding: 1vh 15vw 1vh 0;
                    }
                    h3{
                        width: 100%;
                        height: 8vh;
                        color: $Preto;
                        font-weight: 400;
                        font-size: 1vw;
                        line-height: 2.25vh;
                        padding: 1vh 11vw 0 0;
                    }
                    .CardsBlock{
                        width: 100%;
                        height: 40vh;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .card{
                            width: 48%;
                            height: 9vh;
                            background-color: $Cinza;
                            border-radius: 0.75vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:nth-child(1), &:nth-child(2){
                                margin-top: 4vh;
                            }
                            &:nth-child(3), &:nth-child(4){
                                margin: -4vh 0;
                            }
                            svg, img{
                                padding: 2.25vh 0;
                                width: 35%;
                                height: 100%;
                            }
                            p{
                                width: 65%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: left;
                                font-weight: 400;
                                font-size: 1.1vw;
                                color: $Preto;
                            }
                        }
                    }
                }
                .Imagem{
                    width: 50%;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    padding: 15vh 0 15vh 7vw;
                    position: relative;
                    img{
                        width: auto;
                        height: 100%;
                        padding: 15vh 0 15vh 2vw;
                        position: absolute;
                    }
                }
            }
            .BlockFinal{
                width: 100%;
                height: 50vh;
                display: flex;
                align-items: center;
                justify-content: center;
                .Imagem{
                    width: 50%;
                    height: 100%;
                    position: relative;
                    img{
                        position: absolute;
                        width: auto;
                        height: 100%;
                        bottom: 0;
                        &:nth-child(1){
                            left: 0;
                            height: 95%;
                        }
                        &:nth-child(2){
                            height: 120%;
                            right: 12%;
                        }
                    }
                }
                .infos{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h2{
                        width: 100%;
                        height: 10vh;
                        font-size: 2vw;
                        color: $AzulTexto;
                        font-weight: 900;
                        padding-right: 5vw;
                        display: flex;
                        align-items: center;
                    }
                    .CardsBlock{
                        width: 100%;
                        height: 30vh;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        .card{
                            background-color: $AzulEscuro;
                            border-radius: 0.75vw;
                            width: 48%;
                            height: 9vh;
                            display: flex;
                            &:nth-child(3), &:nth-child(4){
                                margin-top: -6vh;
                            }
                            svg, img{
                                padding: 2.25vh 0;
                                width: 35%;
                                height: 100%;
                            }
                            p{
                                width: 65%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: left;
                                font-weight: 400;
                                font-size: 1vw;
                                color: $Branco;
                                padding-right: 1vw;
                            }
                        }
                        
                    }
                }
            }
        }
        .Dashboards{
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .Imagem{
                width: 60%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                img{
                    position: absolute;
                    width: auto;
                    height: 100%;
                    &:nth-child(1){
                        right: 53%;
                        height:70%;
                    }
                    &:nth-child(2){
                        width: 100%;
                        height: auto;
                        right: 5%;
                    }
                }
            }
            .infos{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:0 4vw 0 1vw;
                h2{
                    width: 100%;
                    height: 10vh;
                    font-size: 2vw;
                    color: $AzulTexto;
                    font-weight: 900;
                    padding-right: 5vw;
                    display: flex;
                    align-items: center;
                }
                h3{
                    width: 100%;
                    height: 7vh;
                    display: flex;
                    align-items: center;
                    color: $Preto;
                    font-weight: 400;
                    font-size: 1vw;
                    line-height: 2.25vh;
                    margin-bottom: 1vh;
                }
                .card{
                    background-color: $Cinza;
                    border-radius: 0.75vw;
                    width: 100%;
                    height: 8vh;
                    display: flex;
                    margin: 1vh 0;
                    svg, img{
                        padding: 2.25vh 0;
                        width: 30%;
                        height: 100%;
                    }
                    p{
                        width: 70%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        font-weight: 400;
                        font-size: 1vw;
                        color: $Preto;
                    }
                }
                a{
                    background-color: $AzulClaro;
                    color: $Branco;
                    font-weight: 600;
                    margin-top: 4vh;
                    width: 100%;
                    padding: 1.5vh 0;
                    border-radius: 0.5vw;
                    text-align: center;
                    font-size: 1vw;
                }
            }
        }
        .contato{
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .form{
                width: 100%;
                height: 70vh;
                display: flex;
                img{
                    width: 40%;
                    height: 100%;
                }
                .formBlock{
                    width: 60%;
                    height: 100%;
                    padding: 8vh 5vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    margin-left: auto;
                    background: $Branco;
                    border-bottom-right-radius: 1vw;
                    h2{
                        width: 100%;
                        height: 7vh;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $AzulTexto;
                        font-weight: 900;
                        font-size: 1.75vw;
                        margin: -4vh 0 1vh;
                    }
                    .labels{
                        width: 100%;
                        height: 47vh;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 3vh 0;
                        position: relative;
                        input{
                            width: 100%;
                            height: 7.5vh;
                            color: $Preto;
                            background: none;
                            outline: none;
                            border: 1px solid $Preto;
                            font-weight: 500;
                            font-size: 1vw;
                            padding-left: 1.5vw;
                            border-radius: 0.75vw;
                            &::-ms-input-placeholder{
                                color: $Preto;
                                font-size: 1vw;
                            }
                        }
                        .select {
                            width: 100%;
                            height: 7.5vh;
                            display: flex;
                            align-items: center;
                            position: relative;
                            border: 1px solid $Preto;
                            border-radius: 0.75vw;
                            padding-left: 1.5vw;
                            font-size: 1.25vw;
                            cursor: pointer;
    
                            select{
                                width: 100%;
                                height: 100%;
                                font-size: 1vw;
                                background: none;
                                outline: none;
                                appearance: none;
                                border: none;
                                margin: 0;
                                z-index: 1;
                                color: $Preto;
                            }
    
                            svg{
                                position: absolute;
                                right: 5%;
                                path{
                                    stroke: $AzulClaro;
                                }
                            }
                              
                            
                        }
                        #Enviar_Contato{
                            width: 100%;
                            height: 6vh;
                            bottom: -7%;
                            position: absolute;
                            font-size: 1vw;
                            background: $AzulClaro;
                            color: $Branco;
                            border-radius: 0.5vw;
                            border: none;
                            font-weight: 600;
                        }
                        #Alertmsg{
                            position: absolute;
                            bottom: -20%;
                            right: -10%;
                            font-size: 1vw;
                        }
                    }
                }
            }
           
            .logoContato, .ContatoRedes, .Redes{
                height: 30vh;
                width: 33%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            .logoContato{
                svg{
                    width: 60%;
                }
            }
            .ContatoRedes{
                a{
                    width: 100%;
                    height: 7vh;
                    display: flex;
                    align-items: center;
                    color: $Branco;
                    font-weight: 400;
                    font-size: 1vw;
                    svg{
                        width: 15%;
                    }
                    span{
                        width: 85%;
                        text-align: left;
                    }
                    &:nth-child(2){
                        margin-top: -14vh;
                    }
                }
            }
            .Redes{
                a{
                    width: 15%;
                    height: 6vh;
                    margin: 0 0.5vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        display: none;
                        opacity: 0;
                    }
                    &:hover{
                        svg{
                            path{
                                stroke: $AzulClaro;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        background-color: $AzulEscuro;
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.9vw;
        font-weight: 400;
        color: $Branco;
        border-top: 1px solid $AzulClaro;
    }
}