@import 'colors_fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Main-font:'Montserrat', sans-serif;

*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}

html{
    scroll-behavior:smooth;
}

body {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: $Main-font;
    background-color: $Branco;
    overflow-x: hidden;
    header {
        top: 0;
        position: fixed;
        height: 12vh;
        width: 100%;
        z-index: 99;
        padding: 1vh 0;
        background-color: $AzulEscuro;
        display: flex;
        justify-content: center;
        nav{
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            a{
                color: $Branco;
                font-size: 0.85vw;
                font-weight: 300;
                padding: 0.5vh 0.5vw;
                margin: 0 0.5vw;
                &:nth-child(2){
                    margin-left: auto;
                }
            }
            .logo{
                margin: 0;
                padding: 0;
                width: 17vw;
                height: 100%;
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
            .seta{
                position: relative;
                padding: 0.5vh 2vw 0.5vh 0.5vw;
                svg{
                    position: absolute;
                    height: 100%;
                    width: 1vw;
                    top: 0;
                    right: 5%;
                }
            }
        }
    }
  
    main{
        margin: auto;
        width: 70%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        .Banner{
            margin-top: 12vh;
            width: 100%;
            height: 88vh;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .Background{
                z-index: 2;
                left: -22%;
                width: 150%;
                height: 79%;
                position: absolute;
            }
            .Chamada{
                position: relative;
                z-index: 5;
                width: 50%;
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: $Main-font;
                h1{
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $Branco;
                    font-size: 1.5vw;
                    position: relative;
                    padding: 1vh 6vw 1vh 12vw;
                    letter-spacing: 0.1vw;
                    b{
                        bottom: 100%;
                        left: 0;
                        font-weight: 800;
                        position: absolute;
                        font-size: 2vw;
                        height: 3vh;
                    }
                    span{
                        font-weight: 700;
                        color: $Laranja;
                        &:nth-child(2){
                            left: 0;
                            top: 0;
                            height: 100%;
                            position: absolute;
                            font-weight: 900;
                            font-size: 7vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                h2{
                    margin-top: 2vh;
                    color: $Branco;
                    font-weight: 300;
                    font-size: 1vw;
                    padding: 1vh 10vw 1vh 0;
                    line-height: 2.5vh;
                }
            }
            .Imagem{
                position: relative;
                z-index: 5;
                width: 50%;
                height: 60%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding-left: 1vw;
                .folha{
                    width: 25%;
                    height: 100%;
                    &:nth-child(3){
                        transform: scaleX(-1);
                    }
                }
                img{
                    width: 50%;
                    padding: 0.5vw;
                }
                img, svg{
                    margin-top: -4vh;
                }
            }
            .texto{
                position: relative;
                z-index: 5;
                width: 100%;
                height: 40%;
                text-align: left;
                font-size: 1.25vw;
                padding: 6vh 7vw;
                color: $Preto;
                font-weight: 400;
                line-height: 3.5vh;
                &::before{
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 93%;   
                    background-color: $Cinza;
                    border-radius: 1.5vw;
                }
                svg{
                   position: absolute;
                   border: solid 3px $Branco;
                   background-color: $Cinza;
                   top: -7.5%;
                   left: 48%;
                   width: 2.5vw;
                   height: 2.5vw;
                   border-radius: 50%;
                   padding: 0.5vw;
                }
            }
        }
        .Destaques{
            padding: 5vh 0 3vh;
            width: 100%;
            height: 150vh;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            iframe{
                height: 65vh;
                border-radius: 2vw;
                background-color: $AzulEscuro;
            }
            h2{
                height: 15vh;
                text-align: center;
                padding: 3vh 5vw;
                color: $AzulTexto;
                font-weight: 800;
                font-size: 2vw;
            }
            .CardsBlock{
                width: 100%;
                height: 40vh;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                .card{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $Cinza;
                    border-radius: 1vw;
                    width: 31.5%;
                    height: 13vh;
                    &:nth-child(4), &:nth-child(5){
                        margin-top: -7vh;
                    }
                    &:nth-child(4){
                        margin-right: -11.5vw;
                    }
                    h4{
                        height: 100%;
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 2vw;
                        color: $AzulTexto;
                        font-weight: 900;
                    }
                    p{
                        height: 100%;
                        width: 75%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        font-size: 1vw;
                        font-weight: 400;
                    }
                }
            }
            .texto{
                position: relative;
                z-index: 5;
                width: 100%;
                height: 30vh;
                text-align: left;
                font-size: 1.25vw;
                padding: 6vh 8vw;
                color: $Preto;
                font-weight: 400;
                line-height: 3.5vh;
                &::before{
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 93%;   
                    background-color: $Cinza;
                    border-radius: 1.5vw;
                }
                svg{
                   position: absolute;
                   border: solid 3px $Branco;
                   background-color: $Cinza;
                   top: -7.5%;
                   left: 48%;
                   width: 2.5vw;
                   height: 2.5vw;
                   border-radius: 50%;
                   padding: 0.5vw;
                }
            }
        }
        .Diferencial{
            width: 100%;
            height: 75vh;
            position: relative; 
            display: flex;
            align-items: center;
            justify-content: center;
            .DifBlock{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    width: 100%;
                    margin-top: -5.5vh;
                    color: $AzulTexto;
                    font-weight: 900;
                    font-size: 2vw;
                    padding: 1vh 8vw 1vh 0;
                }
                h3{
                    width: 100%;
                    color: $Preto;
                    font-weight: 400;
                    font-size: 0.9vw;
                    padding: 0.5vh 0;
                    line-height: 2.25vh;
                }
                .CardsBlock{
                    width: 100%;                
                    height: 40vh;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    .card{
                        border-radius: 0.75vw;
                        background-color: $Cinza;
                        width: 48%;
                        height: 9vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 1.1vw;
                        font-weight: 400;
                        padding: 0 2vw;
                        &:nth-child(3), &:nth-child(4){
                            margin: -5vh 0;
                        }
                    }
                }
            }
            .VideoBlock{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:  0 0 0 5vw;
                iframe{
                    height: 31vh;
                    border-radius: 1vw;
                    background-color: $AzulEscuro;
                }
                a{
                    background-color: $AzulClaro;
                    color: $Branco;
                    font-weight: 600;
                    margin-top: 5vh;
                    width: 100%;
                    padding: 1.5vh 0;
                    border-radius: 0.5vw;
                    text-align: center;
                    font-size: 1vw;
                }
            }
        }
        .Numeros_Clientes{
            width: 100%;
            height: 100vh;
            position: relative;
            padding: 7.5vh 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &::before{
                background-color: $Cinza;
                content: '';
                position: absolute;
                width: 150%;
                height: 100%;
                z-index: -1;
                left: -22%;
                top: 0;
            }
            h2{
                width: 100%;
                height: 8vh;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $AzulTexto;
                font-weight: 900;
                font-size: 2vw;
            }
            .NumBlock{
                width: 100%;
                height: 12vh;
                margin-bottom: 7vh;
                display: flex;
                justify-content: space-around;
                .Numeros{
                    width: 20%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &:nth-child(1){
                        margin-right: -4.5vw;
                    }
                    &:nth-child(2), &:nth-child(3){
                        margin: 0 -4.5vw;
                    }
                    &:nth-child(4){
                        margin-left: -4.5vw;
                    }
                    .Num{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        span{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20%;
                            color: $AzulTexto;
                            font-size: 3vw;
                            font-weight: 900;
                        }
                        h4{
                            display: flex;
                            align-items: center;
                            width: 50%;
                            text-align: left;
                            color: $AzulTexto;
                            font-size: 2.5vw;
                            font-weight: 900;
                        }
                    }
                    p{
                        font-size: 1vw;
                        text-align: center;
                        margin-left: -1vw;
                    }
                }
            }
            .CardsBlock{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 50vh;
                padding: 3vh 0;
                align-items: center;
                justify-content: space-between;
                .card{
                    width: 32%;
                    height: 80%;
                    padding: 1vh 2vw;
                    background-color: $Branco;
                    border-radius: 1vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .img{
                        width: 100%;
                        height: 35%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    h4{
                        height: 15%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.9vw;
                        color: $AzulTexto;
                    }
                    p{
                        height: 50%;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        font-size: 0.65vw;
                        font-weight: 400;
                        line-height: 1.6vh;
                    }
                }
                .mais{
                    bottom: 3.5vh;
                    position: absolute;
                    width: 100%;
                    font-size: 0.9vw;
                    text-align: center;
                }
            }
            
        }
        .SEO{
            width: 100%;
            height: 150vh;
            position: relative;
            border: solid rgb(0, 247, 255) 1px;
        }
        .Dashboards{
            width: 100%;
            height: 100vh;
            position: relative;
            border: solid rgb(255, 0, 242) 1px;
        }
        .Form_contato{
            width: 100%;
            height: 100vh;
            position: relative; 
            border: solid rgb(51, 255, 0) 1px;
            .form{
                width: 50%;
                height: 100%;
                padding: 1vw;
                display: flex;
                align-items: center;
                .labels{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 1vw;
                    padding-bottom: 10vh;
                    position: relative;
                    justify-content: flex-end;
                    .BlockBox{
                        width: 80%;
                        height: 7vh;
                        position: relative;
                        margin: 3vh 0;
                        border-radius: 1vw;
                        display: flex;
                        &:nth-child(5){
                            height: 12vh;
                        }
                        input, textarea{
                            width: 95% !important;
                            margin-left: 2.5%;
                            font-size: 1vw;
                            color: $Laranja;
                            border: none;
                            background: none;
                            outline: none;
                            padding: 2vh 0.5vw;
                            font-weight: 800;
                        }
                        textarea{
                            min-height: 11vh !important;
                            resize: none;
                        }
                        span{
                            font-weight: 700;
                            position: absolute;
                            left: 1vw;
                            top: 1.1vw;
                            font-size: 1.1vw;
                            color: $AzulEscuro;
                            transition: 0.5s;
                            pointer-events: none;
                        }
                        &:nth-child(1), &:nth-child(2){
                            width: 38%;
                        }
                        &:nth-child(2){
                            margin-left: 1.3vw;
                        }
                    }
                    .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                        transform:translate(-1vw, -5.5vh);
                        font-size: 1.25vw;
                        color:$AzulClaro;
                    }
                    #Enviar_Contato{
                        position: absolute;
                        font-size: 1vw;
                        background: $AzulEscuro;
                        color: $Branco;
                        padding: 1vh 1vw;
                        border-radius: 1vw;
                        letter-spacing: 0.05vw;
                        bottom: 0;
                        right: 0;
                        border: none;
                        font-weight: 700;
                    }
                }
            }
        }
    }
  
    footer{
        background-color: $AzulEscuro;
        width: 100%;
        height: 11vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5vh 0 1.5vh;
        a{
            width: auto;
            height: 100%;
            img{
                height: 90%;
                width: auto;
            }
        }
        p{
            font-size: 0.75vw;
            padding: 0.5vh 0;
        }
      
    }
  
}
  